// color
$font-color: #4A4D60;
$font-secondary-color: #fff;
$blue-gradient: linear-gradient(155deg, rgba(162,167,240,1) 0%, rgba(105,110,221,1) 100%);
$background-color: #F7F7FE;
$font-card-secondary-color: #6E728E;
$button-invert-color: #6D72DE;

// Font
$base-font-size: 16px;
$text-font-stack: 'Montserrat', sans-serif;

//media queries
$breakpoints: (
  desktop: 1050px
);